/* elements */
body {
  font-family: 'Poppins';
  font-size: 16px;
  text-align: center;
  color: hsl(229, 6%, 66%);
  width: 1440px;
}


h1, h2, h3 {
  color: hsl(234, 12%, 34%);
}
h1, h2{
  font-size: 1.825rem;
}
h3{
  font-size: 1rem!important;
  margin-top: 3px;
}
h2{
  margin-top:-1.5px;
  margin-bottom:-7px;
}
p{
  font-size: 0.8rem;
  width: 40%;
  line-height:1.6;
}
img {
  position: absolute;
  right: 25.5px;
  bottom: 25.5px;
  width: 18.3%
}
/* general */
.container-fluid {
  padding: 3% 10%;
}

/* heading section */
#heading .container-fluid{
  margin-top: 24px;
  margin-bottom: -8px;
}

.cards-container{
  margin-top:15px;
  margin-bottom: 60px;
}
.card {
  width: 280px;
  height: 200px;
  position: relative;
}

.card-header {
  border-bottom: 0;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-text {
  font-size: 0.65rem;
  width: 100%;
  margin-top: -3px;
  line-height: 1.8;
}

.karma {
  margin-top: 24px;
}
.Supervisor{
  margin-right: -10px;
}
.Calculator{
  margin-left: -10px;
}
/* footer section */


.attribution {
  font-size: 0.69rem;
  margin: auto;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* responsiveness */
@media (max-width: 400px) {

  /* heading section */
  h2, h1 {
    font-size: 1.5rem;
  }

  #heading p {
    font-size: 0.9rem;
    width: 100%;
  }

  /* footer section */
  .attribution {
    font-size: 0.6rem;
  }
}
